<%@ Master Language="C#" MasterPageFile="Site.Master" Inherits="FubuMusicStore.Shared.StoreMaster" %>
<asp:Content runat="server" ID="Content" ContentPlaceHolderID="head"></asp:Content>
<asp:Content runat="server" ID="Content1" ContentPlaceHolderID="MainContent">
<div class="grid_4">
<asp:ContentPlaceHolder ID="LeftPane" runat="server" />
</div>
<div class="grid_8">
<asp:ContentPlaceHolder ID="RightPane" runat="server" />
</div>
</asp:Content>
