/* ¡Viva FuBu Music Store! */
/* Reset */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}

ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

.clear { clear: both;}
.hide { display: none; }
/* Basic Styles */
body, a {font-family: "Helvetica"  "Arial" sans-serif; font-size: 12px; color:#333;}


/* Background Colors */

.bg-color0 {/* white */ background-color: #fff;}

.bg-color1, body { /* noise background */ background: url(../images/bg-noise.jpg) repeat top left;}

.bg-color2 { /* green */ background-color: #7ca359;}

.bg-color3 {background-color: #ccc}

.bg-color4{background-color:#f1f1f1;}

.bg-color5 {background-color:#e3e3e3;}


/* Typographic Elements */
/* Colors */
.color0 {color:#fff;}
.color1, body, #home {color:#666;}
.color2 {color:#333;}

/*alignment*/
.txt-c {text-align: center;}
/* Fonts */
@font-face {
	/* League Gothic Regular */
	font-family: 'LeagueGothicRegular';
	src: url('../type/League_Gothic-webfont.eot');
	src: local('☺'), url('../type/League_Gothic-webfont.woff') format('woff'), url('../type/League_Gothic-webfont.ttf') format('truetype'), url('../type/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
	font-weight: light;
	font-style: normal;
}


.font-face {
	/* League Gothic Regular */
	font-family: 'LeagueGothicRegular';
	src: url('../type/League_Gothic-webfont.eot');
	src: local('☺'), url('../type/League_Gothic-webfont.woff') format('woff'), url('../type/League_Gothic-webfont.ttf') format('truetype'), url('../type/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
	font-weight: light;
	font-style: normal;
}

.txt-hl {text-shadow:0px 1px 0px #fff;}

.bold {font-weight:bold;}

/* h tags */
h1 {font-size: 36px;}
h2.font-face {font-size:28px;}
h2{font-size:28px; font-weight:bold;}
title.h3{font-size:15px;}

/* font colors */

/* Styles */

.gbar{height: 10px; border-bottom:2px solid #658945; background-color: #7ca359;}

#top {background: #fff; border-bottom: 1px solid #aaa; -moz-box-shadow: 0px 1px 0px #fff; height: 87px; padding: 10px; margin-bottom: 20px;}

header h1 {background: url(../images/fms-logo.png) no-repeat; height: 53px; width: 141px; text-indent: -76589473px; margin: 20px 0px;}

/*structure elements*/
.mod {margin:10px;}

.bd{}

.box {margin:10px; padding:5px; min-height:300px;}

.box .content {border:1px solid #aaa; -webkit-box-shadow: 0px 1px 0px #fff; min-height:300px; position:reletive;}

.box .white {height:15px; background-color: #fff;}

.box .artist {border-top:1px solid #777; border-bottom: 1px solid #777; -webkit-box-shadow:0px 1px 0px #fff; padding-left:214px;}

.box .title {margin-top:5px; padding-left:214px; }

.box .upper {top:0px;}
.home-box {margin:0px; padding:5px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}

.box .art {padding-left:20px; position:absolute;}
.home-box .content {padding:0px;  -moz-border-radius:20px; border-radius:20px;  -webkit-border-radius:20px; border:1px solid #aaa; -webkit-box-shadow: 0px 1px 0px #fff;}

.box .info {padding-left: 20px; padding-top:135px;}
ul.track-names-home 

.box #tracks {position:absolute; padding-left:214px; margin-top:-160px;}
ul.track-names-home li 

#tracks table {border: 1px solid #ccc; font-weight: bold; text-shadow: 0px 1px 0px #fff; color:#333;}
}
ul.track-names-home li:first-child
{
     -moz-border-radius:0px 20px 0px 0px; 
 border-radius:0px 20px 0px 0px;  
 -webkit-border-radius:0px 20px 0px 0px;
}
ul.track-names-home li:last-child
{
     -moz-border-radius:0px 0px 20px 0px ; 
 border-radius:0px 0px 20px 0px;  
 -webkit-border-radius:0px 0px 20px 0px;
}
ul.track-names-home li:hover  
{
    background-color: #7CA359;
    color: #FFF;   
}

#tracks table tr td{border:1px solid #ccc; -webkit-box-shadow:0px 1px 0px #fff; background:#fefefe;}
ul.track-names-home li.select  
{
    background-color: #BADA55;
    color: #333;   
}

#tracks table thead tr td{background:#f9f9f9; border:none; }
.album-covers { padding: 1px 5px; 
                -moz-border-radius:20px 0px 0px 20px; border-radius:20px 0px 0px 20px;  -webkit-border-radius:20px 0px 0px 20px;
                max-height:288px;
                overflow: hidden;
  background-color: #CCCCCC;
  background-image: linear-gradient(top, #CCCCCC, #999999); /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  /* Saf4+, Chrome */
  /* Chrome 10+, Saf5.1+ */
}

#tracks table tr td {padding:10px 5px;}
.stripe
{
    background-color: #7CA359;
    height: 265px;
    position: absolute;
    z-index: -1;
    margin-top: 20px;
    top: 178px;
    left: 0px;
    width: 100%;
    
}

#tracks table tbody tr .even{background:lime;}

#tracks table tbody tr:hover {background:#eee;}


.album-browse { display: inline-block;
    padding: 5px;
    vertical-align: top;
    width: 75px;
    margin: 10px;}
.album-browse img { margin-left:5px; }
.album-browse a  
{
       color: #666;
 }
.album-browse .name 
{
    text-align: center;
    width: 75px; }
ul.genres
{
}

ul.genres li { padding: 5px; color: #333;}
ul.genres li a { color: #333; }

ul.genres li:hover { background-color: #7ca359; }